body{
    font-family: Arial;
    padding: 0%;
    margin: 0%;
}

header, footer{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.grid-item {
    border-style: solid;
    border-color: #333;
    border-radius: 5px;
}

.grid-item img{
    width: 100%;
    display: block;
}

.grid-item:hover{
    scale: 1.05;
    transition: 0.3s;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    padding: 20px;
    gap: 20px;
}

.large {
    grid-column: span 2;
}

@media (max-width: 1024px) {
    #grid-container {
        grid-template-columns: repeat(3,1fr);
    }
}

@media (max-width: 720px) {
    #grid-container {
        grid-template-columns: repeat(2,1fr);
    }
}
